
<!doctype html>
<html >
  <head>

    
    <style>
      table, th, td {
        border: 1px solid black;
      }
      table.center {
        margin-left: auto; 
        margin-right: auto;
      }
      </style>	
    

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="content/style.css">

	</head>
	<body>
        <img src="content/pic/logo.jpg" alt="admin bg pic"  class="bg" >	


<div>
    

     
   <h2> <p style="text-align:center">All Orphan Information.</p></h2><br><br>
 <div style="text-align:center">
  Search:: <input type="text" ng-model="searchBox"><br><br>
</div>



<div>
    
      <table border="1"class="center">
        <tr>
          <th><h5>Id</h5></th>
          <th><h5>Name</h5></th>
          <th><h5>Contact number</h5></th>
          <th><h5>Address</h5></th>
          <th><h5>IsAccapted</h5></th>
          <th><h5>Agency id</h5></th>
          <th><h5>Volunteer id</h5></th>
          
        </tr>
        <tr ng-repeat="p in OrphenList | filter:searchBox">
            <td><h5>{{p.id}}</h5></td>
            <td><h5>{{p.name}}</h5></td>
            <td><h5>{{p.contactNo}}</h5></td>
            <td><h5>{{p.address}}</h5></td>
            <td><h5>{{p.isAccepted}}</h5></td>
            <td><h5>{{p.aid}}</h5></td>
            <td><h5>{{p.vid}}</h5></td>
            <td><a href="#!OrphanEdit/{{p.id}}" class="btn btn-primary" >Edit</a>  </td>
            <td><a href="#!OrphanDelete/{{p.id}}" class="btn btn-danger" >Delete</a>  </td>
            
        </tr>
      </table>
  </div>
  <div style="text-align:left">
    <br><br><a href="#!Dashboard/" class="btn btn-success" >Back</a>
   </div>

	</body>
  </html>
  