
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="content/style.css">

<img src="content/pic/logo.jpg" alt="admin bg pic"  class="bg" >	
<div>
    <h1>Total Admin money</h1>
    <table >
        <tr>
            <th>TOtal Admin Money :</th>
            <td>{{List}}</td>
        </tr>
    </table>
</div>
<div style="text-align:left">
    <br><br><a href="#!Dashboard/" class="btn btn-success" >Back</a>
   </div>
   
