<form ng-submit="login()">
    Id:<input type="text" ng-model="data.id"><br>
     Donatorid: <input type="text" ng-model="data.donatorid"><br>
      Receverid:<input type="text" ng-model="data.reciverid"><br>
           
     Type:<select id="type" ng-model="data.type">
         <option value="utoa">user to admin</option>
         <option value="atou">Admin to user</option>
         <option value="atoag">admin to agencee</option>
         <option value="atov">admin to Volunteer</option>
         <option value="atoag">admin to agencee</option>
         <option value="atoa">admin to admin</option>
     </select><br>
     Date:<input type="date" ng-model="data.date"><br>
      Amount: <input type="text" ng-model="data.amount"><br>
      <input type="submit" value="Submited">
  </form>