<!doctype html>
<html >
  <head>

    
    

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="content/style.css">

	</head>
	<body>
        <img src="content/pic/logo.jpg" alt="admin bg pic"  class="bg" >	

        <h2> <p style="text-align:center"> Transaction Edit.</p></h2><br><br>
<div class="form-center">
    
<form ng-submit="TranEdit()">
    Id:<input type="text" ng-model="te.id"><br><br>
     Donatorid: <input type="text" ng-model="te.donatorid"><br><br>
      Receverid:<input type="text" ng-model="te.reciverid"><br><br>
           
     Type:<select id="type" ng-model="te.type">
         <option value="utoa">user to admin</option>
         <option value="atou">Admin to user</option>
         <option value="atoag">admin to agencee</option>
         <option value="atov">admin to Volunteer</option>
         <option value="atoag">admin to agencee</option>
     </select><br><br>
     Date:<input type="date" ng-model="te.date"><br><br>
      Amount: <input type="text" ng-model="te.amount"><br><br>
      <input type="submit" ng-clicked="TranEdit()" value="Submited" class="btn btn-warning" >
  </form>
</div>
<div style="text-align:left">
  <br><br><a href="#!TransactionList/" class="btn btn-success" >Back</a>
 </div>

    </body>
</html>