<!doctype html>
<html >
  <head>

    
    

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="content/style.css">

	</head>
	<body>
        <img src="content/pic/logo.jpg" alt="admin bg pic"  class="bg" >	

        <h2> <p style="text-align:center"> User Add.</p></h2><br><br>
<div class="form-center">
    

     
   
   


<form ng-submit="login()">
   Name: <input type="text" ng-model="data.name"><br><br>
    Email:<input type="text" ng-model="data.email"><br><br>
    Password:<input type="password" ng-model="data.password"><br><br>
   
   Role:<select id="role" ng-model="data.role">
       <option value="admin">admin</option>
       <option value="user">user</option>
       <option value="volunteer">volunteer</option>
       <option value="agency">agency</option>
   </select><br><br>
    Balance: <input type="text" ng-model="data.balance"><br><br>
    <input type="submit" value="Submited" class="btn btn-warning">
</form>
</div>

<div style="text-align:left">
  <a href="#!users/" class="btn btn-success" >Back</a>
 </div>
 
  </body>
</html>